.card {
    border-radius: 10%;
    align-items: center;
    text-align: center;
    padding: 15px 15px;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 4%;
}

.col {
    display: contents;
}

.sumirCard {
    display: none;
}